build --@rules_rust//:rustc_output_diagnostics=true --output_groups=+rust_lib_rustc_output,+rust_metadata_rustc_output

build:bb --bes_results_url=https://app.buildbuddy.io/invocation/
build:bb --bes_backend=grpcs://remote.buildbuddy.io
build:bb --remote_cache=grpcs://remote.buildbuddy.io
build:bb --remote_timeout=3600
build:bb --remote_cache_compression
build:bb --nolegacy_important_outputs

common --tool_java_language_version=21
common --tool_java_runtime_version=remotejdk_21
common --java_language_version=21
common --java_runtime_version=remotejdk_21

common --incompatible_autoload_externally="@rules_python"

run:qemu --run_under="qemu-system-x86_64 -hda"

build:rbe_linux_amd64 --remote_executor=grpcs://remote.buildbuddy.io
build:rbe_linux_amd64 --host_platform=//platforms/buildbuddy:platform_linux_x86_64
build:rbe_linux_amd64 --platforms=//platforms/buildbuddy:platform_linux_x86_64
build:rbe_linux_amd64 --extra_execution_platforms=//platforms/buildbuddy:platform_linux_x86_64

build:rbe_linux_amd64_cross --extra_toolchains=@llvm_rbe_linux_amd64//:all
