build --@rules_rust//:rustc_output_diagnostics=true --output_groups=+rust_lib_rustc_output,+rust_metadata_rustc_output

build:bb --bes_results_url=https://app.buildbuddy.io/invocation/
build:bb --bes_backend=grpcs://remote.buildbuddy.io
build:bb --remote_cache=grpcs://remote.buildbuddy.io
build:bb --remote_timeout=3600
build:bb --experimental_remote_cache_compression
build:bb --nolegacy_important_outputs

common --tool_java_language_version=21
common --tool_java_runtime_version=remotejdk_21
common --java_language_version=21
common --java_runtime_version=remotejdk_21

common --incompatible_autoload_externally="@rules_python"

run:qemu --run_under="qemu-system-x86_64 -hda"