name: Renovate
on:
  schedule:
    - cron: '47 */4 * * *'
jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.2
        with:
          renovate-version: full
          configurationFile: .github/renovate/renovate-config.js
          token: ${{ secrets.RENOVATE_TOKEN }}
